# enable pre-commit.ci at https://pre-commit.ci/
# it adds:
# 1. auto fixing pull requests
# 2. auto updating the pre-commit configuration
ci:
  autoupdate_schedule: monthly
  autofix_commit_msg: "style(pre-commit.ci): auto fixes [...]"
  autoupdate_commit_msg: "ci(pre-commit.ci): autoupdate"

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.18
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.7
    hooks:
      - id: ruff
        exclude: "^src/careamics/lvae_training/.*|^src/careamics/models/lvae/.*"
        args: [--fix, --target-version, py38]

  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
      - id: mypy
        files: "^src/"
        exclude: "^src/careamics/lvae_training/.*|^src/careamics/models/lvae/.*"
        additional_dependencies:
          - numpy
          - types-PyYAML
          - types-setuptools

  # check docstrings
  - repo: https://github.com/numpy/numpydoc
    rev: v1.7.0
    hooks:
      - id: numpydoc-validation
        exclude: "^src/careamics/lvae_training/.*|^src/careamics/models/lvae/.*"      

  # # jupyter linting and formatting
  # - repo: https://github.com/nbQA-dev/nbQA
  #   rev: 1.8.5
  #   hooks:
  #     - id: nbqa-ruff
  #       args: [--fix]
  #     - id: nbqa-black
  #     #- id: nbqa-mypy

  # strip out jupyter notebooks
  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
